/*For embedded font */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
}
html{
    background-color: #ab003a;
}
/*Header CSS */
header{
    border-bottom: 3px solid black;
    background-image: linear-gradient(135deg, red 1%, purple 59%, blue 100%);
    padding: 1%;
    display:flex;
    align-items:center;
}
header h1{
    text-shadow: 1px 2px 3px white;
    font-size:300%;
    font-family: 'Lato', sans-serif;
}
header img {
    float:left;
    padding: 0 .5em 0 .5em;
}
/*Body CSS */
body{
    font-family: 'Merriweather', serif;
    max-width:75em;
    width: 90%;
	margin: 0 auto; 
	padding:0;
	/*border: 3px solid black;*/
    background-color:lightblue;
}
/*Navigation menu*/
#nav_menu ul{
    background:#a32431;
    max-width:75em;
    width:100%; /*FIX1: was 90% */
    position:relative; /*FIX1: was absolute*/
    list-style:none;
    text-align:center;
    margin: 0 auto;
    padding-left:0;
    }
#nav_menu ul li a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 3px 5px black;
    display:block;
    padding:.75em;
    border:1px solid black;
}
#nav_menu ul li{
    display:block;
    float:left;
    position: relative;
    width:25%;
}

#nav_menu ul li:hover {
    background:blue;
}
#nav_menu ul li a:visited{
    color: mediumpurple;
}
nav ul li.firstone {
    background:darkred;
}
#nav_menu > ul::after{
    clear:both;
    content:"";
    display:block;
}
/*Section CSS */
main {
    display: flex;
    flex-direction:row;
} 
section{
    max-width: 56.25em;
    width:70%;
    margin-left: 2%;
    margin-top:2em;
    margin-bottom:2em;
}
/*Picture */
.pic {
    width: 40%;
    max-width:13em;
    min-width:5.625em;
    height:auto;
    margin: 5% 5% 0 5%;
    float:left; /*was right when img in section */
}
/*#practice {
    width: 25%;
    float:right;
    margin-left:5%;
    margin-top:1em;
    border: 1px solid black;
} */

/*Javascript Print Button */
#printButton {
    display:block;
    background-image: linear-gradient(180deg,gray 5%, silver 40%, white 95%);
}
/*Footer CSS */
footer{
    display:block;
    text-align:center;
    text-shadow: 1px 1px 4px darkred;
    padding:.1em;

}
/* for body */
@media only screen and (max-width:960px){
    body{
        width:90%;
    }
}
/* for header */
/* @media only screen and (min-width: 800px){
    header h1{
        font-size:400%;
    }
}*/
/* @media only screen and (max-width: 767px){
    aside, main {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
} */

/*For smaller screens */
@media only screen and (max-width: 550px) {
    aside, main {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    /*#practice{
        width:40%;
    }*/
    header img {
        display:none;
    }
    header {
        display:flex;
        align-items:center;
        justify-content:center;
    }
    body{
        width:100%;
    }
}
/* Print layout */
@media print {
    #printButton{
        display:none;
    }
    nav{
        display:none;
    }
    header img {
        display:none;
    }
    footer{
        text-shadow:none;
    }
}