* {
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
}

html{
    background-color: #ab003a;
}
/*Header CSS */
header{
    border-bottom: 3px solid black;
    background-image: linear-gradient(135deg, red 1%, purple 59%, blue 100%);
    padding: 1%;
    display:flex;
    align-items:center;
}
header h1{
    text-shadow: 1px 2px 3px white;
    font-size:300%;
    font-family: 'Lato', sans-serif;
}
header img{
    float:left;
    padding: 0 .5em 0 .5em;
}
/*Body CSS*/
body{
    font-family: 'Merriweather', serif;
    max-width:75em;
    width: 90%;
	margin: 0 auto; 
	padding:0;
    background-color:lightblue;
	/*border: 3px solid black;*/
}
/*Navigation menu*/
#nav_menu ul{
    background:#a32431;
    max-width:75em;
    width:100%; /*FIX1: was 90% */
    position:relative; /*FIX1: was absolute*/
    list-style:none;
    text-align:center;
    margin: 0 auto;
    padding-left:0;
    }
#nav_menu ul li a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 3px 5px black;
    display:block;
    padding:.75em;
    border:1px solid black;
}
#nav_menu ul li{
    display:block;
    float:left;
    position: relative;
    width:25%;
}

#nav_menu ul li:hover {
    background:blue;
}
#nav_menu ul li a:visited{
    color: mediumpurple;
}
nav ul li.firstone {
    background:darkred;
}
#nav_menu > ul::after{
    clear:both;
    content:"";
    display:block;
}
/*Section CSS */
 main {
    display: flex;
    flex-direction:column;
     align-items:center;
} 
section{
    max-width: 56.25em;
    width:70%;
    margin-left: 3%;
}
/*Rollover image */
#image1 {background-image: url("../images/fishing.JPG");
width:23em;
height:29em;

}
#image1:hover {background-image: url("../images/rocket-league2.jpg");
}

/*CSS for Print button. Gives it the shading */
#printButton {
    display:block;
    background-image: linear-gradient(180deg,gray 5%, silver 40%, white 95%);
}


/*Footer CSS */
footer{
    display:block;
    text-align:center;
    text-shadow: 1px 1px 4px darkred;
    padding:.1em;

}

@media only screen and (max-width:960px){
    body{
        width:90%;
    }
}
@media only screen and (min-width: 800px){
    
    main {
        display:flex;
        flex-direction:row;
    }
    section {
        margin-right:1em;
    }
    aside {
        margin-right:1em;
        margin-top:2em;
    }
}
/*CSS for smaller screens */
@media only screen and (max-width: 550px) {
    main {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    header img {
        display:none;
    }
    header {
        display:flex;
        align-items:center;
        justify-content:center;
    }
    body{
        width:100%;
    }
}
/* Print layout CSS*/
@media print {
    #printButton{
        display:none;
    }
    nav{
        display:none;
    }
    header img {
        display:none;
    }
    footer{
        text-shadow:none;
    }
    aside{
        display:none;
    }
}